/* Login */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#login {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 758px;
    height: 100vh;
    font-size: 13px;
    margin-top: 50px;
    border: 1px #000 solid;
    border-style: none;

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        font-weight: 80;
        text-align: left;
        color: #ff0000;
        text-align: right;
    }

    input[type=email] {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f6f6f6;
        border-style: none;
        height: 33px;
        width: 708px;
    }

    input[type=password] {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f6f6f6;
        border-style: none;
        height: 33px;
        width: 708px;
    }

    .checkbox {
        margin-right: 560px;
        border: none;
    }

    .btn-submit {
        background-color: #ff0000;
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px 23px;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        height: 33px;
        width: 94px;
        margin-top: 40px;
        margin-right: 600px;
    }

     .btn-submit:hover{
        background-color: #b90000;
        transition: ease 0.5ms;
        cursor: pointer;
     }

    .no-account {
        display: flex;
        justify-content: flex-end;
        width: 96%;
    }

    .email {
        display: flex;
        justify-content: center;
        width: 13%;
        font-size: 16px;
    }

    .password {
        display: flex;
        justify-content: flex-end;
        width: 13%;
        font-size: 16px;
    }

    #email,
    #password {
        height: 50px;
    }


}