/* Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    background-color: #fff;
    text-align: center;
    font-size: 13px;
    margin: auto;
    margin-top: 50px;
    border: 1px #000 solid;
    border-style: none;

    .form-login {
        border: 1px solid;

        h1{
            font-family: 'Times New Roman', Times, serif;
            font-size: 12px;
            font-weight: 80;
            text-align: left;
        }
        h2{
          font-family: 'Times New Roman', Times, serif;
          font-size: 12px;
          font-weight: 80;
          text-align: left;
          float: left;
        }
        h3{
          font-family: 'Times New Roman', Times, serif;
          font-size: 12px;
          font-weight: 80;
          text-align: left;
        }

        .email {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 70%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #f6f6f6;
            border-style: none;
            height: 33px;
            width: 708px;
        }
      
        .passw {
            width: 70%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #f6f6f6;
            border-style: none;
            height: 33px;
            width: 708px;
        }
        .btn-submit{
            background-color: #ff0000;
            border: none;
            color: rgb(255, 255, 255);
            padding: 10px 23px;
            text-decoration: none;
            display: inline-block;
            font-size: 11px;
            height: 33px;
            width: 94px;
        }
    }
}


  

  