.home-product-card {
    cursor: pointer;

    img {
        width: 270px;
        height: 295px;
    }
    p,
    span {
        padding: 1rem 0 0.5rem 0;
        font-size: 1.2rem;
        
    }
    span {
        color: #616161;
        padding-right: 1rem;
    }
}