.home-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;

    .home-container-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;

        .home-container-left {

            h1 {
                font-size: 1.2rem;
                font-weight: 500;
                padding-bottom: 1.5rem;
                letter-spacing: 3px;
            }
            h2 {
                font-size: 4rem;
                padding-bottom: .5rem;
            }
            .btn-shopnow {
                padding: 1.2em 3em;
                background-color: hsl(351, 95%, 59%);
                color: #fff;
                margin-top: 1.5rem;
                letter-spacing: 3px;
        
                &:hover {
                    background-color: hsl(351, 95%, 69%);
                }
                &:active {
                    background-color: hsl(351, 95%, 49%);
                }
            }
        }
        .home-container-right {

            img {
                width: 15cm; //15cm
                height: 16cm; //16cm
                cursor: pointer;
            }
        }
    }
}