/* ___________________________________________________HOME_________________________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: poppins-regular, poppins;
    background-color: #f3f2f2;
    color: #363636;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.old-price {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
/* ___________________________________________________SECTION 1____________________________________________ */
.section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 61.5%;
    margin-bottom: 3.5rem;
}
.section-1 .container h1 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    letter-spacing: 3px;
}
.section-1 .container h2 {
    font-size: 4rem;
    padding-bottom: .5rem;
}

.btn {
    padding: 1.2em 3em;
    font-family: poppins-regular, poppins;
    border: none;
    outline-color: transparent;
    cursor: pointer;
}

.btn-shopnow {
    background-color: hsl(351, 95%, 59%);
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 3px;  
}
.btn-shopnow:hover {
    background-color: hsl(351, 95%, 69%);
}
.btn-shopnow:active {
    background-color: hsl(351, 95%, 49%);
}
/* ___________________________________________________SECTION 2____________________________________________ */
.section-2 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 4rem 0 1rem 0;
    background-color: #fff;
}
.section-2 .container h2 {
    font-size: 3rem;
}
.section-2 .container .shop-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2rem 0;
    color: #616161;
}
.section-2 .container .shop-links li {
    cursor: pointer;
}
.section-2 .container .shop-links li,
.section-2 .container .shop-links p {
    padding: 0 .35em 0 .35em;
}
.section-2 .container .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 1rem;
    background-color: #fff;
}
.section-2 .container .product-container .card {
    cursor: pointer;
}
.section-2 .container .product-container .card p, 
.section-2 .container .product-container .card span {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
}
.section-2 .container .product-container .card span {
    color: #616161;
    padding-right: 1rem;
}

.btn-load {
    font-size: 1rem;
    font-family: poppins-regular, poppins;
    border: 2px solid #2929295f;
    padding: 1em 3em;
    margin: 2rem 0;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.btn-load:hover {
    background-color: hsl(0, 0%, 80%);
}
.btn-load:active {
    background-color: hsl(0, 0%, 70%);
}
.section-2 .container .icon-sm {
    width: .7em;
}
/* ___________________________________________________SECTION 3____________________________________________ */
.section-3 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 4rem 0 4rem 0;
    background-color: #faefef;
}
.section-3 .container .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 1rem;
}
.section-3 .container .product-container .card {
    background-color: #fff;
    cursor: pointer;
}
.section-3 .container .product-container .card p, 
.section-3 .container .product-container .card span {
    padding: 1rem 0 0.5rem 0;
    margin: 1rem;
    font-size: 1.2rem;
}
.section-3 .container .product-container .card span {
    color: #616161;
}

.section-3 .container .product-container .onSale-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 406px;
    border: 1px solid #aeaeae60;
    background-color: #fff;
    cursor: pointer;
}
.section-3 .container .product-container .onSale-card h1 {
    color: #fa3150;
    font-weight: 600;
    letter-spacing: normal;
}
.section-3 .container .product-container .onSale-card h2 {
    font-size: 3rem;
}
.section-3 .container .product-container .onSale-card h3 {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 0;
}
.section-3 .container .product-container .onSale-card p {
    color: #616161;
}
.section-3 .container .product-container .onSale-card span {
    padding-top: 2.5rem;
}
/* ___________________________________________________SECTION 4____________________________________________ */
.section-4 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 4rem 0 1rem 0;
    background-color: #fff;
}
.section-4 .container h2 {
    font-size: 2rem;
    padding: 2rem 0 5rem 0;
}
.section-4 .container .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    padding: 1rem;
}
.section-4 .container .product-container .card {
    cursor: pointer;
}
.section-4 .container .product-container .card p, 
.section-4 .container .product-container .card span {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
}
.section-4 .container .product-container .card span {
    color: #616161;
    padding: 0 1rem 1rem 0;
}
.section-4 .container .product-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 1rem;
}
.section-4 .container .product-container-2 .card {
    cursor: pointer;
}
.section-4 .container .product-container-2 .card p {
    padding: 1rem 0 1.5rem 0;
    font-size: 1.2rem;
}
.section-4 .container .product-container-2 .card span {
    color: #616161;
}
.section-4 .container .product-container-2 .card h6 {
    color: #aeaeae;
    padding: 1.5rem 0 1rem 0;
}
/* ___________________________________________________SECTION 5____________________________________________ */

/* ___________________________________________________LOGIN_________________________________________________ */

/* ___________________________________________________REGISTRATION__________________________________________ */

/* ___________________________________________________CONTACT_______________________________________________ */
